apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-vtvhohli
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-vtvhohli:88ad54d42ac292808e5ac361de5bbc99f4e79a04@sha256:2c8893f997fd5e9144b2f7e98063d8ef8abec6483499c93468288d6abbfd1408
        name: container-image  
